.container {
  width: 480px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f6fb;;
  
}

.title {
    font-size: 30px;
}


@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
  }
  .title {
      font-size: 35px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}